
<button class="back-btn" (click)="back()"> Back</button>
<body>
    <div class="login-container">
        <div class="login-left">
            <h2>Login! 👋</h2>
            <p>How do I get started?</p>

            <!-- Social Logins -->
            <button class="btn btn-google">Sign in with Google</button>
            <button class="btn btn-apple">Sign in with Apple</button>

            <p>Login with Email</p>

            <!-- Login Form -->
            <form (ngSubmit)="signIn()">
                <div class="email-login">
                    <label for="email">Email:</label>
                    <input type="email" id="email" [(ngModel)]="newLogin.email" name="email" required placeholder="upskill@atheros.ai">

                    <label for="password">Password:</label>
                    <input type="password" id="password" [(ngModel)]="newLogin.password" name="password" required placeholder="******">

                    <button type="submit" class="btn btn-signin">Sign In</button>
                    
                </div>
            </form>
            <div class="signup-link">Don't have an account? <a href="SignUp">Sign Up Now</a></div>
        </div>

        <div class="login-right">
            <h3>Why should I login?</h3>
            <p>
                By logging in, you can access a wider collection of books, manage your categories, and more.
            </p>
            
        </div>
    </div>
</body>
