.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.back-btn {
  background: black;
  color: white;
  padding: 12px 24px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10px;
}

.back-btn:hover {
  background: #444;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.capa-livro {
  width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.status {
  font-weight: bold;
}

.status.disponivel {
  color: green;
}

.status.indisponivel {
  color: red;
}

/* Grade de Livros */
.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo do Card */
.book-card {
  width: 220px;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  background: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-10px);
}

.book-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.book-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2C3E50; 
}

.book-author {
  font-size: 1em;
  color: #7F8C8D; 
  margin-bottom: 5px;
}

.book-category {
  font-size: 1em;
  color: #2980B9; 
  margin-bottom: 5px;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  color: #C0392B; 
  margin-top: 10px;
}

.book-card a {
  text-decoration: none !important;
  color: inherit;
}

.book-card a:hover {
  color: #2980B9;
}
