<!-- <div class="book-list">
    <h1>Lista de Livros</h1>
  
 
    <div *ngIf="isLoading">Carregando livros...</div>
  

    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  

    <table *ngIf="!isLoading && books.length > 0">
      <thead>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>ISBN</th>
          <th>Disponibilidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.available ? 'Disponível' : 'Indisponível' }}</td>
        </tr>
      </tbody>
    </table>
  

    <div *ngIf="!isLoading && books.length === 0">Nenhum livro encontrado.</div>
  </div>
   -->
   <div *ngIf="isLoading">Carregando livros...</div>
   <div *ngIf="errorMessage">{{ errorMessage }}</div>
   
   <div class="book-list">
     <div *ngFor="let book of books" (click)="openModal(book.isbn)" class="book-card">
       <h3>{{ book.title }}</h3>
       <p>{{ book.author }}</p>
     </div>
   </div>
   
   <!-- Modal de Livro -->
   <app-get-book 
     *ngIf="selectedBookIsbn"
     [isbn]="selectedBookIsbn"
     (close)="closeModal()">
   </app-get-book>
   