<button class="back-btn" *ngIf="!isAuth()" (click)="back()"> Back</button>
<div class="categories-container">
  <h2 class="category-title">📚 Lista de Categorias</h2>

  <!-- Mensagem de erro -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <!-- Grid de categorias -->
  <div class="category-grid" *ngIf="categories.length > 0; else noCategories">
    <div class="category-card" *ngFor="let category of categories">
      <span class="category-name">{{ category.name }}</span>
    </div>
  </div>

  <!-- Mensagem caso não existam categorias -->
  <ng-template #noCategories>
    <p class="no-categories">⚠️ Nenhuma categoria encontrada.</p>
  </ng-template>
</div>
