<!-- <nav>
  <button class="btn" routerLink="SignUp">Sign Up</button>
  <button class="btn" routerLink="signin">Sign In</button>
 
   <button class="btn" routerLink="/book">All Books</button>
   <button class="btn" routerLink="/book/create">Add Book</button>
   <button class="btn" routerLink="/book/available">Available Books</button>
   <button class="btn" routerLink="/book/unavailable">Unavailable Books</button>
 

   <button class="btn" routerLink="category">Categories</button>
   <button class="btn" routerLink="/category/create">Add Category</button>
 

   <button class="btn" routerLink="book/:isbn/review">Book Reviews</button>
   <button class="btn" routerLink="book/:isbn/review/write">Write a Review</button>
</nav> -->

<hr>
<router-outlet></router-outlet>
