<div class="create-category-container">
    <h2>Create New Category</h2>
  
    <!-- Success or Error Messages -->
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  
    <!-- Category Form -->
    <form (ngSubmit)="createCategory()">
      <div>
        <label for="categoryName">Category Name:</label>
        <input appFocus  type="text"
               id="categoryName"
               [(ngModel)]="newCategory.name"
               name="categoryName"
               required />
      </div>
      <button type="submit">Create Category</button>
    </form>
  </div>
  